.AboutSection {
  height: 100vh;
  background-color: colors.$website_maroon;
  width: 100%;
  position: relative;

  .leftSide {
    margin-left: 65px;
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0px;
    color: white;

    h1 {
      margin-top: 150px;
      font-family: PoppinsBold;
      font-size: 54px;
      width: 600px;
    }

    p {
      margin-top: 20px;
      font-family: PoppinsReg;
      font-size: 25px;

      span {
        font-family: PoppinsBold;
      }
    }
  }

  .imgWrapper {
    position: relative;
    width: 40%;
    height: 100%;

    img {
      position: absolute;
      width: 626px;
      height: 417px;
      bottom: 0px;
    }
  }

  .headerWrapper {
    max-width: 450px;
    width: 100%;
    position: absolute;
    height: 139px;
    top: 250px;
    right: 0px;
    background-color: colors.$website_tan1;
    border-radius: 50px 0px 0px 50px;

    h1 {
      margin-top: 40px;
      margin-left: 25px;
      font-family: PoppinsBold;
      font-size: 35px;
      color: colors.$website_maroon;
    }
  }

  .rightSide {
    position: absolute;
    max-width: 450px;
    width: 40%;
    right: 0px;
    top: 400px;
    color: white;

    .explainText {
      font-family: PoppinsReg;
      font-size: 25px;
      margin-top: 45px;

      span {
        font-family: PoppinsBold;
      }
    }

    .commentText {
      font-family: PoppinsItal;
      font-size: 20px;
      margin-top: 80px;
    }
  }
}

@media all and (max-width: 925px) {
  .AboutSection {
    .leftSide {
      width: 80%;
      h1 {
        font-size: 45px;
      }
      p {
      }
    }

    .imgWrapper {
      img {
        width: 530px;
        height: 353px;
      }
    }

    // Section that reads "Which gave us an idea"
    .headerWrapper {
    }

    .rightSide {
      width: 80%;
    }
  }
}
