.navWrapper {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 20;
  background-color: colors.$website_tan1;
  height: 127px;
  .logo {
    margin-top: 15px;
    position: absolute;
    left: 30px;
    img {
      width: 166px;
      height: 96px;
    }
  }

  .links {
    position: absolute;
    margin-top: 43px;
    right: 30px;
    display: flex;
    height: 33px;
    width: 700px;
    justify-content: space-evenly;

    div {
      width: 200px;
      font-family: PoppinsSemiBold;
      font-size: 20px;
      text-align: center;

      justify-content: space-between;

      a {
        letter-spacing: 1px;
        color: black;
        width: 150px;
        text-decoration: none;
      }
    }

    #homeLink,
    #connectLink,
    #shoutLink {
      border-bottom: 3px solid #ac3b61;
    }

    #aboutLink,
    #techLink {
      border-bottom: 3px solid #173c69;
    }

    #home:active {
      background-color: colors.$website_maroon;
      color: white;
    }
    #homeLink:active {
      color: white;
    }

    #connect:active {
      background-color: colors.$website_maroon;
    }
    #connectLink:active {
      color: white;
    }

    #shout:active {
      background-color: colors.$website_maroon;
    }
    #shoutLink:active {
      color: white;
    }

    #about:active {
      background-color: colors.$website_navy;
    }
    #aboutLink:active {
      color: white;
    }

    #tech:active {
      background-color: colors.$website_navy;
    }
    #techLink:active {
      color: white;
    }
  }
}
