* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: red 2px solid;

  button:focus {
    outline: none;
  }

  input:focus {
    outline: none;
  }

  button:hover {
    cursor: pointer;
  }
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Moonglade;
  src: url(../css/fonts/MoongladeDemoBold-jOzM.ttf);
}

@font-face {
  font-family: PoppinsReg;
  src: url(../css/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(../css/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsItal;
  src: url(../css/fonts/Poppins/Poppins-Italic.ttf);
}

@font-face {
  font-family: PoppinsBoldItal;
  src: url(../css/fonts/Poppins/Poppins-BoldItalic.ttf);
}
