* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* button:focus {
  outline: none;
}
* input:focus {
  outline: none;
}
* button:hover {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Moonglade;
  src: url(../css/fonts/MoongladeDemoBold-jOzM.ttf);
}
@font-face {
  font-family: PoppinsReg;
  src: url(../css/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(../css/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../css/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsItal;
  src: url(../css/fonts/Poppins/Poppins-Italic.ttf);
}
@font-face {
  font-family: PoppinsBoldItal;
  src: url(../css/fonts/Poppins/Poppins-BoldItalic.ttf);
}
.navWrapper {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 20;
  background-color: #eee2dc;
  height: 127px;
}
.navWrapper .logo {
  margin-top: 15px;
  position: absolute;
  left: 30px;
}
.navWrapper .logo img {
  width: 166px;
  height: 96px;
}
.navWrapper .links {
  position: absolute;
  margin-top: 43px;
  right: 30px;
  display: flex;
  height: 33px;
  width: 700px;
  justify-content: space-evenly;
}
.navWrapper .links div {
  width: 200px;
  font-family: PoppinsSemiBold;
  font-size: 20px;
  text-align: center;
  justify-content: space-between;
}
.navWrapper .links div a {
  letter-spacing: 1px;
  color: black;
  width: 150px;
  text-decoration: none;
}
.navWrapper .links #homeLink,
.navWrapper .links #connectLink,
.navWrapper .links #shoutLink {
  border-bottom: 3px solid #ac3b61;
}
.navWrapper .links #aboutLink,
.navWrapper .links #techLink {
  border-bottom: 3px solid #173c69;
}
.navWrapper .links #home:active {
  background-color: #ac3b61;
  color: white;
}
.navWrapper .links #homeLink:active {
  color: white;
}
.navWrapper .links #connect:active {
  background-color: #ac3b61;
}
.navWrapper .links #connectLink:active {
  color: white;
}
.navWrapper .links #shout:active {
  background-color: #ac3b61;
}
.navWrapper .links #shoutLink:active {
  color: white;
}
.navWrapper .links #about:active {
  background-color: #173c69;
}
.navWrapper .links #aboutLink:active {
  color: white;
}
.navWrapper .links #tech:active {
  background-color: #173c69;
}
.navWrapper .links #techLink:active {
  color: white;
}

.HomeSection {
  height: 100vh;
  background-color: #eee2dc;
  width: 100%;
  position: relative;
}
.HomeSection .rightSide {
  width: 600px;
  float: right;
  margin-top: 250px;
}
.HomeSection .rightSide .homeTitle {
  font-family: PoppinsBold;
  font-size: 54px;
}
.HomeSection .rightSide .homeSubtitle {
  font-family: PoppinsReg;
  font-size: 25px;
  width: 360px;
}
.HomeSection .rightSide .homeSubtitle .emphasis {
  font-family: PoppinsBold;
}
.HomeSection .rightSide button {
  width: 135px;
  height: 54px;
  border-radius: 50px;
  border: none;
  font-family: PoppinsBold;
  font-size: 15px;
  letter-spacing: 0.25px;
  color: white;
  margin-right: 25px;
  margin-top: 20px;
}
.HomeSection .rightSide #homeButton1 {
  background-color: #ac3b61;
}
.HomeSection .rightSide #homeButton2 {
  background-color: #173c69;
}
.HomeSection .leftSide {
  width: 500px;
  height: 450px;
  position: absolute;
  bottom: 50px;
  left: 35px;
}
.HomeSection .leftSide .circles {
  position: relative;
}
.HomeSection .leftSide .circles .circle1 {
  position: absolute;
  border-radius: 50%;
  top: 50px;
  max-width: 392px;
  height: 368px;
  width: 100%;
  z-index: 5;
}
.HomeSection .leftSide .circles .circle2 {
  position: absolute;
  right: 0px;
  border-radius: 50%;
  max-width: 265px;
  width: 100%;
  height: 245px;
  z-index: 4;
}
.HomeSection .leftSide .circles .circle3 {
  position: absolute;
  top: 175px;
  right: 0px;
  border-radius: 50%;
  max-width: 272px;
  width: 100%;
  height: 267px;
  z-index: 3;
}

.AboutSection {
  height: 100vh;
  background-color: #ac3b61;
  width: 100%;
  position: relative;
}
.AboutSection .leftSide {
  margin-left: 65px;
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0px;
  color: white;
}
.AboutSection .leftSide h1 {
  margin-top: 150px;
  font-family: PoppinsBold;
  font-size: 54px;
  width: 600px;
}
.AboutSection .leftSide p {
  margin-top: 20px;
  font-family: PoppinsReg;
  font-size: 25px;
}
.AboutSection .leftSide p span {
  font-family: PoppinsBold;
}
.AboutSection .imgWrapper {
  position: relative;
  width: 40%;
  height: 100%;
}
.AboutSection .imgWrapper img {
  position: absolute;
  width: 626px;
  height: 417px;
  bottom: 0px;
}
.AboutSection .headerWrapper {
  max-width: 450px;
  width: 100%;
  position: absolute;
  height: 139px;
  top: 250px;
  right: 0px;
  background-color: #eee2dc;
  border-radius: 50px 0px 0px 50px;
}
.AboutSection .headerWrapper h1 {
  margin-top: 40px;
  margin-left: 25px;
  font-family: PoppinsBold;
  font-size: 35px;
  color: #ac3b61;
}
.AboutSection .rightSide {
  position: absolute;
  max-width: 450px;
  width: 40%;
  right: 0px;
  top: 400px;
  color: white;
}
.AboutSection .rightSide .explainText {
  font-family: PoppinsReg;
  font-size: 25px;
  margin-top: 45px;
}
.AboutSection .rightSide .explainText span {
  font-family: PoppinsBold;
}
.AboutSection .rightSide .commentText {
  font-family: PoppinsItal;
  font-size: 20px;
  margin-top: 80px;
}

.sub1 {
  max-height: 400px;
  height: 100%;
  background-image: url(../assets/images/section1.jpg);
  background-image: linear-gradient(to bottom, rgba(23, 60, 105, 0.6), rgba(23, 60, 105, 0.6)), url(../assets/images/section1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub2 {
  max-height: 200px;
  height: 100%;
  background-color: #173c69;
  position: relative;
}
.sub2 img {
  margin-top: 30px;
  margin-left: 150px;
  width: 303px;
  height: 145px;
}
.sub2 .rightSide {
  position: absolute;
  right: 100px;
  top: 35px;
  color: white;
  font-family: PoppinsReg;
}
.sub2 .rightSide h1 {
  font-size: 40px;
}
.sub2 .rightSide h1 span {
  font-family: PoppinsBold;
}
.sub2 .rightSide p {
  font-size: 20px;
}

.sub3 {
  max-height: 200px;
  height: 100%;
  background-color: #ac3b61;
  position: relative;
}
.sub3 img {
  width: 528px;
  height: 161px;
  position: absolute;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: 30px;
  bottom: 0px;
}

.sub4 {
  max-height: 200px;
  height: 100%;
  background-image: url(../assets/images/section4.jpg);
  background-image: linear-gradient(to bottom, rgba(172, 59, 97, 0.6), rgba(172, 59, 97, 0.6)), url(../assets/images/section4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sub4 h1 {
  position: absolute;
  margin-top: 50px;
  font-family: PoppinsBoldItal;
  color: white;
  font-size: 54px;
  width: 100%;
  text-align: center;
}

.ConnectSection {
  height: 100vh;
  background-color: #eee2dc;
  position: relative;
}
.ConnectSection h1 {
  font-family: PoppinsReg;
  font-size: 54px;
  position: absolute;
  right: 149px;
  top: 120px;
}
.ConnectSection h1 span {
  font-family: PoppinsBold;
  color: #173c69;
}
.ConnectSection .tea {
  position: absolute;
  right: 40px;
  top: 120px;
  width: 109px;
  height: 76px;
  fill: #173c69;
}
.ConnectSection p {
  right: 40px;
  top: 250px;
  position: absolute;
  width: 515px;
  font-size: 25px;
  font-family: PoppinsReg;
}
.ConnectSection p span {
  font-family: PoppinsBold;
}
.ConnectSection .iconsRow {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 400px;
  right: 100px;
}
.ConnectSection .iconsRow .pandora {
  width: 80px;
  height: 50px;
  margin-right: -20px;
}
.ConnectSection .iconsRow .spotify {
  width: 50px;
  height: 50px;
}
.ConnectSection .iconsRow .soundcloud {
  width: 87px;
  height: 50px;
}
.ConnectSection .slideshowWrapper {
  position: absolute;
  bottom: 100px;
  left: 130px;
  z-index: 6;
}
.ConnectSection .slideshowWrapper .imgSquare {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 7;
}
.ConnectSection .slideshowWrapper .imgSquare img {
  width: 409px;
  height: 409px;
  z-index: 7;
}
.ConnectSection .slideshowWrapper .redSquare {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 409px;
  height: 409px;
  z-index: 6;
  background-color: #ac3b61;
}
.ConnectSection .slideshowWrapper .blueSquare {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 409px;
  height: 409px;
  z-index: 5;
  background-color: #173c69;
}

.TechSection {
  height: 100vh;
  background-color: #173c69;
  color: white;
  font-family: PoppinsReg;
  position: relative;
}
.TechSection h1 {
  position: absolute;
  font-size: 54px;
  top: 173px;
  left: 115px;
}
.TechSection h1 span {
  font-family: PoppinsBold;
}
.TechSection p {
  position: absolute;
  max-width: 577px;
  height: 149px;
  font-size: 25px;
  top: 270px;
  left: 115px;
}
.TechSection .buttonWrapper {
  position: absolute;
  top: 480px;
  width: 500px;
  left: 115px;
  display: flex;
  justify-content: space-between;
}
.TechSection .buttonWrapper button {
  border-radius: 50px;
  height: 54px;
  font-family: PoppinsBold;
  font-size: 16px;
  border: none;
}
.TechSection .buttonWrapper #under150 {
  width: 135px;
  color: white;
  background-color: #ac3b61;
}
.TechSection .buttonWrapper #over500 {
  width: 135px;
  background-color: #eee2dc;
  color: #ac3b61;
}
.TechSection .buttonWrapper #recommend {
  width: 155px;
  color: white;
  background-color: #ac3b61;
}
.TechSection .playerWrapper {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.TechSection .playerWrapper .imgWrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 5;
}
.TechSection .playerWrapper .imgWrapper img {
  width: 598px;
  height: 439px;
}
.TechSection .playerWrapper .redCircle {
  position: absolute;
  bottom: 20px;
  right: 50px;
  z-index: 4;
  width: 267px;
  height: 267px;
  border-radius: 50%;
  background-color: #ac3b61;
}
.TechSection .playerWrapper .tanCircle {
  position: absolute;
  bottom: 140px;
  right: 240px;
  z-index: 3;
  width: 267px;
  height: 267px;
  border-radius: 50%;
  background-color: #eee2dc;
}

.ShoutSection {
  height: 100vh;
  background-color: #bab2b5;
  position: relative;
}
.ShoutSection .formWrapper {
  max-width: 575px;
  width: 100%;
  height: 650px;
  position: absolute;
  top: 160px;
  left: 135px;
}
.ShoutSection .formWrapper .formHeader {
  font-family: PoppinsReg;
  font-size: 54px;
  color: white;
  letter-spacing: 1px;
}
.ShoutSection .formWrapper .formHeader span {
  font-family: PoppinsBold;
}
.ShoutSection .formWrapper .formSubheader {
  font-family: PoppinsReg;
  font-size: 23px;
  color: white;
  margin-bottom: 30px;
}
.ShoutSection .formWrapper input {
  width: 100%;
  height: 75px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 23px;
  font-family: PoppinsReg;
  padding-left: 25px;
  border: none;
}
.ShoutSection .formWrapper .input3 {
  height: 180px;
  padding-bottom: 100px;
}
.ShoutSection .formWrapper button {
  margin-left: 175px;
  width: 170px;
  height: 55px;
  border-radius: 25px;
  color: white;
  font-family: PoppinsReg;
  font-size: 20px;
  letter-spacing: 0.25px;
  border: none;
  background-color: #ac3b61;
}
.ShoutSection .phoneImage {
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0px;
  right: 0px;
}